@charset "utf-8";
/* CSS Document */
*{
	box-sizing: border-box;
}
body{
	background-image:url("image/Orange background.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover
}
#container{
	width: 800px;
	margin: 0 auto;
}
.left{
	width: 200px;
	height: 415px;	
	float: left;
	background-color:paleturquoise;
	border-radius: 20px;
	padding: 15px 15px 15px 15px;
	margin: 10px 20px 15px 0px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"
	}
.left a:link{
	color:black;
	font-size: 1.4em;
	text-decoration: none;
}
.left a:visited{
	color: orangered;
	font-size: 1.4em;
	text-decoration: none;
}
.left a:hover{
	color:blue;
	font-size: 1.4em;
	text-decoration: underline;
}
.left a:active{
	color:white;
	font-size: 1.4em;
	text-decoration: none;
}

.top-right{
	width: 580px;
	height: 200px;
	background-color: rgba(250,250,250,0.50);
	border-radius: 20px;
	margin: 10px 0px 15px 0px;
	padding: 15px 15px 15px 15px;
	float: right;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: .95em
		
}
.bottom-right{
	width: 580px;
	height: 200px;
	background-color: rgba(255,255,255,0.50);
	border-radius: 20px;
	margin: 0px 0px 15px 0px;
	padding: 15px 15px 15px 15px;
	float: right;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size:.95em
}
.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}
img{
  float: left;
  margin-right: 20px;  
}
header >h1{
	
    text-align: center; color:aliceblue;
	border: 2px solid rgba(255,255,255,.50);
	border-radius: 20px;		
}
article >h2{
	text-align: center;
}
footer{
	color:aliceblue;
	clear:both;
}